# Auto detect text files and perform LF normalization
*.venv/* -text
*.venv/* eol=lf
*.venv/* text=auto
/.venv/* -text
/.venv/* eol=lf
/.venv/* text=auto
.venv/* -text
.venv/* eol=lf
.venv/* text=auto

